.comment{
    display: flex;
    flex-direction: column;
    position: relative;

    &__author{
        display: flex;

        &Img{      
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        &Name{
            text-align: justify;
            flex: 1;
            height:fit-content;
            justify-self: center;
            padding: 1rem;
        }
    }
    &__content{
        padding: 1rem;
        text-align: justify;
        color:$orange;
    }
}