.textarea{
    display: block;
    max-width: 300px;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    outline: none;
    border: 3px solid transparent;
    border-radius: .5rem;
    resize: none;
    height: 15rem;

    &:focus{
        border: 3px solid $red;
    }

    &--error{
        background-color: #e4b2b2;
    }
}
@media #{$medium-up}{
    .textarea{
        max-width: unset;
        width: 80%;
    }
}
@media #{$large-up}{
    .textarea{
        width: 60%;
    }
}